{{ define "empty" }}
<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Node oAuth2 Example (empty-sale)</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
        <h1>Empty Sale</h1>
</body>

</html>
{{ end }}